body{
  background-color: #ccc;
}
.container{
  width: 65%;
}
.size{
  font-size: 26px;
}
.btn-small{
  height: 22.4px;
  line-height: 20.4px;
  font-size: 12px;

}
.btn-spac{
  margin:0px 10px;
}
.card-content{
  padding: 50px !important;
}
.card-size{
  font-size: 30px;
  
}
.title-from{
  padding: 20px 5px ;
}
.card-content{
  padding: 15px !important;
}
.btn-size{
  padding: 0 45px;
}
